html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

body {
  /* width: 100%; */
  color: #343434;
  margin: 0;
  padding: 0;
  /* font-family: "Roboto Mono", monospace; */
  font-family: "Jost", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  /* font-size: 15px; */
  line-height: 1.5;
}

/* HEADER */

header {
  height: 50px;
  background-color: bisque;
  margin: 0;
  width: 100%;
}

.header-container {
  margin-left: 150px;
  margin-right: 150px;
  height: 70px;
  /* pading-top:0px; */
  /* padding-left: 10%; */
  /* padding-right: 10%; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links-container ul {
  display: flex;
}

.links-container .icon {
  margin-left: 20px;
}

.links-container div {
  display: flex;
  align-items: center;
}

.links-container ul li {
  margin-left: 15px;
  list-style-type: none;
  margin-right: 15px;
}

/* First Section */

.themes {
  background-image: url("./Images/themes_background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 6%;
  padding-bottom: 8%;
  display: flex;
  justify-content: center;
}

.themes .content-wrap {
  color: white;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.themes .content-wrap h1 {
  font-size: 55px;
}

.themes .content-wrap h2 {
  font-size: 38px;
  margin-top: 0px;
}

.themes .content-wrap p {
  font-size: 15px;
  margin-bottom: 7%;
  margin-top: 0;
}

.themes-container {
  display: flex;
  flex-direction: column;
  min-height: 470px;
  height: fit-content;
  align-items: center;
}

.themes-container .buttons-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 20px;
}

.themes-container .buttons-container button {
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 6px;
  border: none;
}

.themes-container .buttons-container .demos-button:hover {
  background-color: rgb(46, 163, 46);
  color: white;
}

.themes-container .buttons-container .purchase-button {
  background-color: rgb(46, 163, 46);
  color: white;
}

.themes-container .buttons-container .purchase-button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

/* Second Section */

.demos {
  text-align: center;
  padding-top: 60px;
  padding-right: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
}

.demos h1 {
  font-size: 45px;
  margin-bottom: 0;
  margin-top: 15px;
}

.demos p {
  margin-top: 20px;
  margin-bottom: 60px;
}

.demos .demos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5%;
  row-gap: 8%;
  height: fit-content;
}

.demos .demos-container .demo-example .image-container {
  height: 0px;
  padding-bottom: 100%;
  margin-bottom: 20px;
  position: relative;
}

.demos .demos-container .demo-example img:hover {
  box-shadow: 0 10px 20px rgb(14, 14, 14);
}

.demos .demos-container .demo-example img {
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0 5px 15px rgb(39, 38, 38);
}

.demos .demos-container .demo-example h2 {
  margin-top: 0;
}

/* Third Section */

.showcase {
  background-color: rgb(31, 38, 44);
  color: white;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 120px;
  overflow: hidden;
}
.showcase h1 {
  margin: 0;
  font-size: 35px;
}

.showcase h2 {
  /* margin: 0; */
  font-size: 15px;
  color: rgb(154, 154, 154);
}

.showcase .infinite-slider {
  animation: scroll 30s linear infinite;
  margin-top: 70px;
  display: flex;
  width: calc(210px * 18);
  /* width: auto; */
  overflow: hidden;
  /* overflow: scroll; */
}

.showcase .infinite-slider img {
  margin-left: 1%;
  height: 300px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-210px * 9));
  }
}

/* Fourth Section */

.custom-headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.custom-headers h1 {
  font-size: 37px;
  margin-bottom: 0%;
}

.custom-headers p {
  font-size: 17px;
}

.img-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  column-gap: 30px;
}
.img-wrapper img {
  justify-self: center;
}

/* Fith Section */

.responsiveness {
  color: white;
  background-image: url("./Images/phone_img.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.responsiveness .section-wrapper {
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.responsiveness .resp-content {
  margin-right: 40px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.responsiveness .resp-content h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.responsiveness .resp-content p {
  font-size: 15px;
}
.responsiveness .phone-img-cont img {
  border-radius: 40px;
  height: 500px;
  margin-left: 40px;
  /* margin-left: 400px; */
}

/* Sixth Section */

.posts_pages {
  padding-top: 4%;
  text-align: center;
}

.posts_pages h1 {
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.posts-pages-img {
  margin-top: 3%;
  background-image: url("./Images/posts&pages.png");
  /* background-size: cover; */
  /* padding: 25%; */
  background-position: center center;
  height: 800px;
}

/* Seventh Section */

.features {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.features .section-header {
  font-size: 40px;
}

.features .features-container {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  /* margin-bottom: 1%; */
  width: 100%;
}

.features .features-container-g {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgba(222, 222, 222, 0.796),
    rgba(255, 255, 255, 0.523)
  );
}

.features .content-wrap {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: 2%;
  /* width: 45%; */
  /* justify-content: space-between; */
}

/* images */
.features .content-wrap .image-container .img-1 {
  height: 300px;
  width: 400px;
  background-image: url("./Images/D1.1.png");
  background-size: cover;
}
.features .content-wrap .image-container .img-2 {
  height: 300px;
  width: 400px;
  background-image: url("./Images/D1.2.png");
  background-size: cover;
}
.features .content-wrap .image-container .img-3 {
  height: 300px;
  width: 400px;
  background-image: url("./Images/img-3.png");
  background-size: cover;
}
.features .content-wrap .image-container .img-4 {
  height: 300px;
  width: 400px;
  background-image: url("./Images/img-4.png");
  background-size: cover;
}
.features .content-wrap .image-container .img-5 {
  height: 300px;
  width: 400px;
  background-image: url("./Images/img-5.png");
  background-size: cover;
}
.features .content-wrap .image-container .img-6 {
  height: 300px;
  width: 400px;
  background-image: url("./Images/img-6.png");
  background-size: cover;
}
.features .content-wrap .image-container .img-7 {
  height: 300px;
  width: 400px;
  background-image: url("./Images/img-7.png");
  background-size: cover;
}
.features .content-wrap .image-container .img-8 {
  height: 300px;
  width: 400px;
  background-image: url("./Images/img-8.png");
  background-size: cover;
}
.features .content-wrap .image-container .img-9 {
  height: 300px;
  width: 400px;
  background-image: url("./Images/img-9.png");
  background-size: cover;
}
.features .content-wrap .image-container .img-10 {
  height: 300px;
  width: 400px;
  background-image: url("./Images/img-10.png");
  background-size: cover;
}

.features .content-wrap .text-container {
  width: 350px;
  margin-left: 25px;
  text-align: left;
}

.features .content-wrap .text-container h1 {
  font-size: 20px;
}

/* Last section */

.customer-reviews {
  text-align: center;
}

.reviews-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* FOOTER */

.footer {
  padding-top: 50px;
}

.footer h1 {
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.footer h2 {
  font-size: 35px;
}

.footer h3 {
  font-size: 15px;
  margin-top: 0;
}

.footer p {
  font-size: 20px;
  margin-top: 0;
}

.footer {
  color: white;
  text-align: center;
  background-color: rgb(31, 38, 44);
}

.footer button {
  color: white;
  font-size: 11px;
  padding-top: 17px;
  padding-bottom: 17px;
  border: none;
  background-color: rgb(209, 77, 51);
  padding-left: 27px;
  padding-right: 27px;
}

.footer .footer-img {
  height: 450px;
  background-image: url("./Images/footer_img.png");
  background-size: cover;
  background-position: bottom center;
}

@media screen and (max-width: 678px) {
  .responsiveness .section-wrapper {
    flex-direction: column;
  }
  .img-wrapper {
    /* grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column;
    width: 250px;
    /* align-items: center; */
    /* justify-content: center; */
  }
}

@media screen and (max-width: 820px) {
  .content-wrap {
    flex-direction: column;
    max-width: fit-content;
  }
  .content-wrap .text-container {
    width: 600px;
  }
}

@media screen and (max-width: 930px) {
  .header-container {
    display: none;
  }
}

@media screen and (max-width: 1030px) {
  .img-wrapper {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
  .demos .demos-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
}

@media screen and (max-width: 1615px) {
  .features-container-g {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-wrap {
    justify-content: space-between;
    width: 800px;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
}
